# zsh
zsh/.config/zsh/plugins/
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompdump

# nvim
nvim/.config/nvim/plugin
nvim/.config/nvim/*.log

# tmux
tmux/.config/tmux/plugins/

# script
script/.local/bin/*
!script/.local/bin/power-menu
!script/.local/bin/kill-wine
!script/.local/bin/dotfiles
