Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

!! Colorscheme
#define bg      #2d392c
#define fg      #c6cac4
#define color0  #60695f
#define color1  #e29288
#define color2  #a4cc78
#define color3  #dbb66d
#define color4  #7eb9d0
#define color5  #c08da4
#define color6  #71ca98
#define color7  #c6cac4
#define color8  #7a8178
#define color9  #e2a299
#define color10 #b0d08c
#define color11 #dcbf83
#define color12 #92c1d3
!define color13 #71ca98
#define color14 #87cfa6
#define color15 #e0e2dd

!! Colorscheme
! general
*.background: bg
*.foreground: fg

! blacks
*.color0: color0
*.color8: color8

! reds
*.color1: color1
*.color9: color9

! greens
*.color2: color2
*.color10: color10

! yellows
*.color3: color3
*.color11: color11

! blues
*.color4: color4
*.color12: color12

! magentas
*.color5: color5
*.color13: color6

! cyans
*.color6: color6
*.color14: color14

! whites
*.color7: color7
*.color15: color15

!!! URxvt !!!
URxvt.font: xft:GoMono Nerd Font Mono:size=9
!URxvt.boldFont: Terminess:style=Bold:size=12:antialias=true:hinting=false
!URxvt.italicFont: Terminess:style=Italic:size=12:antialias=true:hinting=false
!URxvt.boldItalicfont: Terminess:style=Bold Italic:size=12:antialias=true:hinting=false
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 4321
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
!! URxvt.perl-ext-common: default,clipboard-osc,keyboard-select,font-size
! Clipboard
URxvt.copyCommand   : xclip -i -selection clipboard
URxvt.pasteCommand  : xclip -o -selection clipboard
URxvt.keysym.M-c    : perl:clipboard:copy
URxvt.keysym.M-v    : perl:clipboard:paste
URxvt.keysym.M-C-v  : perl:clipboard:paste_escaped
! Keyboard Select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
! resize-font
URxvt.keysym.C-k: font-size:increase
URxvt.keysym.C-j: font-size:decrease

URxvt.urlLauncher: vieb
URxvt.underlineURLs: true
URxvt.urlButton: 1

!!! Rofi !!!
! rofi.color-window: mybg, mybg, mybg
! rofi.color-normal: mybg, myfg, mybg, mybg, mycl2
! rofi.color-active: mybg, myfg, mybg, mybg, mycl2
! rofi.color-urgent: mybg, myfg, mybg, mybg, mycl2
